<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }} </br>
			  <a href="www.fromwastetofeed.com">www.fromwastetofeed.com</a>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
	  
		<a href="https://www.linkedin.com/in/tklammsteiner"><img src="https://raw.githubusercontent.com/tklammsteiner/tklammsteiner.github.io/master/_includes/linkedin.png" style="width:23px; height:23px" hspace="0px" alt="Linkedin"></a>
		
		<a href="https://scholar.google.com/citations?user=jI_Q6tgAAAAJ&hl=de"><img src="https://raw.githubusercontent.com/tklammsteiner/tklammsteiner.github.io/master/_includes/googlescholar.png" style="width:18px; height:18px" hspace="0px" alt="GoogleScholar"></a>
		
        <a href="https://orcid.org/0000-0003-1280-5159"><img src="https://raw.githubusercontent.com/tklammsteiner/tklammsteiner.github.io/master/_includes/orcid.png" style="width:16px; height:16px" hspace="5px" alt="Orcid"></a>
						
		<a href="https://www.researchgate.com/profile/Thomas_Klammsteiner"><img src="https://raw.githubusercontent.com/tklammsteiner/tklammsteiner.github.io/master/_includes/researchgate.png" style="width:18px; height=18px" hspace="0px" alt="ResearchGate"></a>

		<!--{%- include social.html -%}-->
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
