<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }} </br>
			  <a href="https://www.fromwastetofeed.wordpress.com">fromwastetofeed</a>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
	  
        <a href="https://orcid.org/0000-0003-1280-5159"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/ORCID_iD.svg/1200px-ORCID_iD.svg.png" style="width:16px; height:16px" hspace="5px" alt="Orcid"></a>
		
		<a href="https://www.researchgate.com/profile/Thomas_Klammsteiner"><img src="https://cberuk.com/cdn/partner/201906093872.png" style="width:18px; height=18px" hspace="5px" alt="ResearchGate"></a>
		
		<a href="https://www.linkedin.com/in/tklammsteiner"><img src="https://www.freepngimg.com/thumb/social_media/74293-icons-media-linkedin-computer-social-logo.png" style="width:23px; height:23px" hspace="0px" alt="Linkedin"></a>
		
		<!--{%- include social.html -%}-->
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
