<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

	<ul>
	{% for item in site.menus.header %}
		<li class="menu-item-{{ loop.index }}">
			<a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
